# Data cleaning practise

In [19]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Student\Desktop\pthon\dirtydata.csv")
df.info()
print(df.describe())
print(df.head(10))
print(df.tail(10))
print(df.to_string())
new_df=df.dropna()
df.dropna(inplace=True)
df.loc[7,'Duration']=45
for x in df.index:
    if df.loc[x,"Duration"]>120:
        df.loc[x,"Duration"]=120
for x in df.index:
    if df.loc[x,"Duration"]>120:
        df.drop(x,inplace=True)
nv = df.duplicated()
new_out = df.loc[nv==True]
print(new_out)
df.drop_duplicates(inplace=True)
print(df.to_string())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000
   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0
7       450  '2020/12/08'    104       134     253.3
8        30  '2020/12/09'    109       133     195.1
9        60  '2020/12/10'     98       124     269.0
    Duration          Date  Pulse  Maxpulse  Calories
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0
    Duration          Date  Pulse  Maxpulse  Calories
12        60  '2020/12/12'    100       120     250.7
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7         45  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# Creating own csv file

In [18]:
df = pd.read_csv(r"C:\Users\Student\Desktop\pthon\student.csv")
df.info()
print(df.describe())
print(df.head(10))
print(df.tail(10))
print(df.to_string())
new_df = df.dropna()
df.dropna(inplace=True)
df.loc[2,"Age"]=20
for x in df.index:
   if df.loc[x,"Marks"]>100:
      df.loc[x,"Marks"]=100
for x in df.index:
    if df.loc[x,"Age"] < 10 or df.loc[x,"Age"]>100:
      df.drop(x, inplace=True)
nv = df.duplicated()
new_out = df.loc[nv==True]
print(new_out)
df.drop_duplicates(inplace=True)
df["Gender"] = (
  df["Gender"].str.upper().map({
    "M":"Male",
    "F":"Female",
    "T":"other"
  })
)
df["name"]=df["Name"].str.title()
print(df.to_string())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
 1   Name    5 non-null      object
 2   Age     5 non-null      int64
 3   Marks   5 non-null      int64
 4   Gender  5 non-null      object
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes
             ID        Age      Marks
count  5.000000   5.000000   5.000000
mean   3.000000  20.000000  88.000000
std    1.581139   0.707107   5.700877
min    1.000000  19.000000  80.000000
25%    2.000000  20.000000  85.000000
50%    3.000000  20.000000  90.000000
75%    4.000000  20.000000  90.000000
max    5.000000  21.000000  95.000000
   ID      Name  Age  Marks Gender
0   1     Aarya   19     85      F
1   2    Morium   20     90      F
2   3  Vanshika   20     80      f
3   4   Roushan   21     90      M
4   5  Supritam   20     95      M
   ID      Name  Age  Marks Gender
0   1     Aarya   19     85      F
1   2    Morium   20     90      F
2   3  Vanshika   20     80      f
3   4   Roushan   21     90      M
4   5  Supritam   20     95      M
   ID      Name  Age  Marks Gender
0   1     Aarya   19     85      F
1   2    Morium   20     90      F
2   3  Vanshika   20     80      f
3   4   Roushan   21     90      M
4   5  Supritam   20     95      M
Empty DataFrame
Columns: [ID, Name, Age, Marks, Gender]
Index: []
   ID      Name  Age  Marks  Gender      name
0   1     Aarya   19     85  Female     Aarya
1   2    Morium   20     90  Female    Morium
2   3  Vanshika   20     80  Female  Vanshika
3   4   Roushan   21     90    Male   Roushan
4   5  Supritam   20     95    Male  Supritam