# FILE HANDLING

## Read file

In [15]:
f=open("lab.txt","r")
print(f.read())
f.close()

hi my name is lab
im lab of Ai&ds dept
my lab has many desktop
its centralised AC
ppppppppppppppppppppppp
ppppppppppppppppp
pppppppppppppppppppppppppppppppppppppp
ppppppppppppppppppppppppppppppp
[ppppppppppppppppppppppppp
ppppppppppppppppppppppppppp
pppppppppppppppppppppppp
pppppppppppppppppppppppppp
ppppppppppppppppppppp
ppppppppppppppppppppppppppppppppppp
ppppppppppppppppppppp
abra ka dabra gili gili bush

## return 5 char

In [16]:
f=open("lab.txt","r")
print(f.read(5))
f.close()

hi my

# Read 2 line

In [18]:
f=open("lab.txt","r")
print(f.readline())
print(f.readline())
f.close()

hi my name is lab

im lab of Ai&ds dept

### read using loop

In [34]:
f=open("lab.txt","r")
for line in f:
  print(line.strip())
f.close()

hi my name is lab
im lab of Ai&ds dept
my lab has many desktop
its centralised AC
ppppppppppppppppppppppp
ppppppppppppppppp
pppppppppppppppppppppppppppppppppppppp
ppppppppppppppppppppppppppppppp
[ppppppppppppppppppppppppp
ppppppppppppppppppppppppppp
pppppppppppppppppppppppp
pppppppppppppppppppppppppp
ppppppppppppppppppppp
ppppppppppppppppppppppppppppppppppp
ppppppppppppppppppppp
abra ka dabra gili gili bush

In [33]:
f=open("lab.txt","r")
for i, line in enumerate(f):
    if i==2:
        break
  print(line.strip())

IndentationError: unindent does not match any outer indentation level (<string>, line 5)

# Pandas

In [35]:
import pandas as pd

print(pd.__version__)
mydataset = {
    'cars': ["BMW", "Volvo", "Ford"],
    'passing': [3, 7, 2]
}
myvar = pd.DataFrame(mydataset)
print(myvar)

## create lables

In [43]:
a = [1,7,2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

## Pandas series from directoy

In [44]:
calories = {"day1":420, "day2":380, "day3":390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

## create DataFramne from two series

In [45]:
data = {
    "calories": [420, 380, 390],
    "duration": [420, 380, 390]
}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420       420
1       380       380
2       390       390

## list of names to give each row a name

In [46]:
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)
print(df.loc["day2"])

      calories  duration
day1       420        50
day2       380        40
day3       390        45
calories    380
duration     40
Name: day2, dtype: int64

# NEW FILE

In [68]:


with open("hello.txt", "a")as f:
    f.write("this is line 3\n")
    f.write("this is line 4\n")
    print("append")

append

In [74]:
f=open("hello.txt","r")
print(f.read())
f.close()

hi my name is hello world
my dept is Ai&ds
im from 3rd sem
im in 2nd year
my fav langue is java
this is line 1
this is line 2
this is line 1
this is line 2
this is line 1
this is line 2
this is line 1
this is line 2
this is line 1
this is line 2
this is line 1
this is line 2
this is line 3
this is line 4
this is line 3
this is line 4
this is line 3
this is line 4
this is line 3
this is line 4
this is line 3
this is line 4
this is line 3
this is line 4
this is line 3
this is line 4
this is line 3
this is line 4
this is line 3
this is line 4

In [ ]:
with open